@tailwind base;
@tailwind components;
@tailwind utilities;


.teal-button:hover{
    @apply bg-teal-800 transition-transform ease-linear  duration-200;
}




html {
    scroll-behavior: smooth;
  }


* {
  word-wrap: break-word;
  overflow-wrap: break-word;

}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


@media print {
  .print-area {
    width: 794px;
    height: 1123px;
    overflow: hidden;
    page-break-after: always;
  }

  .print-area > * {
    page-break-inside: avoid;
  }
}
.page-break {
  page-break-before: always;
  break-before: page; /* for modern browsers */
}

.perspective {
  perspective: 1500px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}



.animate-marquee {
  animation: marquee 60s linear infinite;
}


/* Force Times New Roman on the PDF container */
#cl-pdf-preview {
  font-family: "Times New Roman", Times, serif !important;
}

.avoid-page-break {
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  display: block;
}

/* ---------- CUSTOM SCROLLBAR FOR ALL BROWSERS ---------- */
.scrollbar-custom {
  scrollbar-width: thin;               /* Firefox */
  scrollbar-color: #2C6472 #ffffff;    /* Firefox */
}

/* WebKit (Chrome, Edge, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Smaller, cleaner look */
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #2C6472;
  border-radius: 8px;
  border: 2px solid #ffffff; /* Adds padding illusion */
}

/* Hide scrollbar for overflow areas */
.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Safari and Chrome */
}




  input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

.Toastify__toast--success .Toastify__progress-bar {
  background: #2c6472 !important;
}

/* Hide the default icon */
.Toastify__toast--success .Toastify__toast-icon {
  display: none;
  position: relative;
}

/* Inject your own custom image icon */
.Toastify__toast--success::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('./assets/toaster-success-icon.svg'); /* ✅ Set your image path */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}